* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right,#e98de9, #5d5df5, #e16ee1);
    width: 100%;
    font-family: 'Playfair Display', serif;
}

header {
    padding-top: 20px ;
    display: grid;
    grid-template-columns: 1fr auto;
    background-image: linear-gradient(to right, #d42fd4, #6868f1);
}

header .title {
    flex-shrink: 0;
    color: white;
    font-size: 20px;
    margin: 16px;
}

header .title h1 {
    position: relative;
    top: -20px;
    left: 90px;
    text-align: center;
}

header .title h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

header .title p {
    font-size: 22px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav li a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;
}

.container h2 {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 30px;
    margin-bottom: 10px;
}

form input,
form label {
    text-align: center;
    display: block;
    width: 320px;
    margin-bottom: 2px;
    padding: 8px 40px;
    margin-left: 8px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

.error-Name {
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    font-size: 16px;
    background-color: red;
    color: black;
    margin-bottom: 5px;
    display: none;
}

.error-Name:empty {
    display: none;
}

.sucess-message {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(8, 108, 8);
    color: #d8d8f4;
    margin-bottom: 5px;
}

.sucess-message:empty {
    display: none; 
}

.errorEmail {
    text-align: center;
    font-size: 16px;
    background-color: red;
    color: black;
    margin-bottom: 5px;
    display: none;
}

form button {
    padding: 8px 42px;
    margin-left: 8px;
    position: relative;
    top: 4px;
    left: 135px;
    background: none;
    color: #d8d8f4;
    background-color: #0f0f9a;
    border: 1px solid #080867;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 15px;
}

img {
    width: 1020px;
    height: auto;
    position: relative;
    top: 12px;
    left: 15px;
    max-width: 100%;
}

.customstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.customstyle form {
    margin-left: center;
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
}

.customstyle h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.customstyle input {
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    margin-right: 80px;
}

.customstyle form button {
    font-weight: bold;
    border: none;
    font-size: 18px;
    margin-left: -100px;
}

.customstyle table {
    width: 60%;
    margin-top: 16px;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
}

.customstyle th, .customstyle td {
    border-bottom: 2px solid #000;
    font-size: 18px;
    padding: 16px;
    margin-bottom: 10px;
}

.customstyle th {
    text-align: center;
}

.customstyle tr {
    font-weight: bold;
    color: #1d1919;
    border-radius: 3px;
    background-color: white;
}

.Container .social-links {
    position: absolute;
}

.Container h2 {
    font-size: 35px;
    padding: 8px;
}

.Container h3 {
    font-size: 24px;
    padding: 8px;
}

.Container li {
    display: inline;
    margin-right: 8px;
}

.social-links li a span {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.Container .logo {
    height: auto;
    width: 90px;
    padding: 20px;
    margin-top: auto;
}

.Container .log {
    height: auto;
    width: 130px;
    padding: 20px;
    margin-top: auto;
}

.Container p {
    padding: 8px;
}

footer {
    background-image: linear-gradient(to right, #b421b4, #2b2b92);
    color: #ecf0f2;
    padding: 16px 0;
    text-align: center;
}